/* :root{
  --color: #e40046;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #fff; 
  font-family: "poppins", sans-serif;
}

.service
{
   background:linear-gradient(rgba(0,0,0,0.6),#29487D) ,url(image/SK.jpg);
   background-size:cover;
   background-position:center;
   height:90vh;
   width: 100%;
   list-style:none; 
}
.nav{
  width: 100%;
  z-index: -1;
}
.nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 60px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}
.nav ul li{
  margin-top: 1%;
  padding: 10px;
  width: 10%;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}
.nav ul li.active,
.nav UL li:hover{
  box-shadow: 0px -3px 0px rgba(288, 0, 70, .9) inset;
}
.profile-body{
  width: 100%;
  z-index: -1;
} */
/*================ css for admin =================*/
table{
	border:1px solid black;
	border-collapse:collapse;
	width:100%;
	margin-bottom:10%;
}
table tr td .btn{
	padding:4%;
	margin-right:1%;
	cursor:pointer;
	background-color:rgb(5, 104, 104);
	color:#f1f1f1;
	border-radius:2px;
	border:none;

}
th, td{
	border:1px solid rgba(5, 104, 104, 0.895);;
	text-align:center;
}
th.left, td.left{text-align:left;}
thead, tfoot{background-color:rgba(5, 104, 104, 0.895);}
tfoot{font-weight:bold;}
.btn-color{color:red;}
.btn-color{
	padding:5%;
	margin:5%;
	cursor:pointer;
	background-color:rgb(132, 8, 8);
	color:#f1f1f1;
	border-radius:2px;
	border:none;
}